body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 2rem 0;
}
.book-details, .form-container {
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}
.book-details img {
    max-width: 300px;
    border-radius: 5px;
    margin-bottom: 2rem;
}
.book-details h2 {
    font-size: 2rem;
    margin: 1rem 0;
}
.book-details p {
    margin: 1rem 0;
    color: #555;
}
.form-container label {
    display: block;
    margin: 0.5rem 0;
}
.form-container select, .form-container input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.form-container button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 10px; /* Espaçamento entre os botões */
}
.form-container button:hover {
    background-color: #555;
}
.button-container {
    margin-top: 2rem;
    display: flex; /* Flexbox para alinhar os botões */
    gap: 10px; /* Espaçamento entre os botões */
}