        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            overflow-x: hidden; /* Para evitar rolagem horizontal */
        }
        header {
            background: #333;
            color: #fff;
            padding: 1rem 0;
            text-align: center;
        }
        .container {
            width: calc(100% - 300px); /* Deixe espaço para a barra deslizante */
            margin: auto;
            overflow: hidden;
            padding-right: 300px; /* Espaço para a barra deslizante */
        }
        .search-bar {
            margin: 20px 0;
            text-align: center;
        }
        .search-bar input {
            padding: 10px;
            width: 80%;
            max-width: 500px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .search-bar button {
            padding: 10px 20px;
            border: none;
            background-color: #333;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
        }
        .search-bar .button-container {
            margin-top: 10px;
        }
        .search-bar .button-container button {
            margin: 0 5px;
        }
        .book-list {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-top: 1rem;
        }
        .book-item {
            background: #fff;
            padding: 1rem;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: calc(33.333% - 1rem);
            box-sizing: border-box;
            cursor: pointer; /* Adiciona cursor de ponteiro para indicar que é clicável */
        }
        .book-item img {
            max-width: 100%;
            border-radius: 5px;
        }
        .book-item h2 {
            font-size: 1.25rem;
            margin: 0.5rem 0;
        }
        .book-item p {
            margin: 0.5rem 0;
            color: #555;
        }
        /* Barra deslizante */
        .sidebar {
            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
            width: 300px;
            background-color: #fff;
            box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            transform: translateX(100%);
            transition: transform 0.3s ease;
            overflow-y: auto;
        }
        .sidebar.open {
            transform: translateX(0);
        }
        .sidebar .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 1.5rem;
            cursor: pointer;
        }
